
body {
  line-height: 1;
  font: 13px/1.5 Georgia, serif;
  
}
ol {
    list-style-type: decimal;
    color:#43444A;
}
ol {
    display: block;
}

ul li {
    display: list-item;
    list-style-type: disc;
    color:#43444A;
}
fieldset {
    border: 1px solid silver;
    margin: 0 0 1.2em;
    width:604px;
    padding: 0.6em 2%;
    color:#43444A;
}
.form-item input, .form-item select, .form-item textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
}
.form-item input.form-text, .form-item select {
    padding: 3px 1%;
    width: 98%;
}
form input.form-submit {
    border: 0 none;
    color: #FFFFFF;
    font-family: 'Yanone Kaffeesatz','Arial Narrow',Helvetica,Arial,'sans serif';
    font-size: 100%;
    margin: 2px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: auto;
    background:#43444A;
    padding:6px;
    font-weight:bold;
}
form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form {
    margin-bottom: 1.2em;
}
table {
    border-collapse: collapse;
}
td, tr.odd td, tbody th {
    background-color: #43444A;
    border:1px solid silver;
    color:#fff;
}
tr.even, tr.odd {
    background-color: #43444A;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
.form-item .description {
    color: #fff;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.4em 0 0;
}
label {
    display: block;
    font-weight: bold;
    color:#43444A;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
h1, h2, h3, h4, h5, h6 {
  color:#43444a;
}
h1 {
  font-size: 4em;
  letter-spacing:-1px;
}
h1.title {
  font-size: 4em;
  letter-spacing:-1px;
}

h2 {
  font-size: 2em;
}
h2.block-title {
  color:#43444A;
}
h2.title a:link, h2.title a:visited {
    text-decoration: underline;
}
h2.title a:hover, h2.title a:active {
    text-decoration: none;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 80%;
}
ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}
b, strong {
    font-weight: bolder;
}
i, cite, em, var, dfn {
    font-style: italic;
}
blockquote {
    background-color: #43444A;
}
blockquote {
    color: #FFFFFF;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a, a:link, a:visited {
    color: #43444A;
    text-decoration:none;
}
a, a:hover, a:active {
    color: #43444A;
    text-decoration:underline;
}
div.status, table tr.ok {
    background-color: #43444A;
}
div.status, .ok {
    color: #fff;
}
div.status {
    border-color: #fff;
}
div.status a:link, div.status a:visited {
  color:#c1c1c1;
}
div.status a:hover, div.status a:active {
  color:#c1c1c1;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.messages a:link, div.messages a:visited {
  color:#c1c1c1;
}
div.messages a:hover, div.messages a:active {
  color:#c1c1c1;
}
div.error, table tr.error {
    background-color: #43444A;
}
div.error, .error {
    color: #fff;
}
div.warning, table tr.warning {
    background-color: #43444A;
}
div.warning, .warning {
    color: #fff;
}
div.warning a:link, div.warning a:visited {
  color:#c1c1c1;
}
div.warning a:hover, div.warning a:active {
  color:#c1c1c1;
}
div.error {
    border-color: #fff;
}
div.warning {
    border-color: #fff;
}
p code {
    background-color: #43444A;
}
p code {
    border: medium none;
    color: #fff;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}
.header {
  background-image:url("../images/Header_Background_new.jpg");
  height:80px; 
}
.logo {
  margin-top:20px;
  margin-bottom:20px;
}
.region-login {
	padding-right:20px;
	height:100px;
  margin-top:20px;
  text-align:right;
  color:#43444a;
}
.region-login a {
  color:#43444a;
  text-decoration:none;
}
.main_nav {
  background-image:url("../images/navigation.jpg");
  background-repeat:no-repeat;
  background-position:center;
  height:91px;
  color:#000000;
  margin-top:20px;
}
.region-primarynav ul.menu {
  list-style-type:none;
  margin:0px;
  padding:0px;
  margin-top:15px;
  margin-left:50px;
  height:60px;
}
.region-primarynav ul.menu li {
  display:block;
  float:left;
  height:14px;
  padding:10px 15px 20px 15px;
  margin-left:0px;
  
}
.region-primarynav ul.menu li a  {
  color:#000000;
  text-decoration:none;
  font-size:16px;
  font-weight:bold;
  
}
.region-primarynav ul.menu li:hover {
  background-color:#2E558B;
  color:#FFFFFF;
  display:block;
  
  
}
.region-primarynav ul.menu li:first-child a {color:#FFFFFF;}
.region-primarynav ul.menu li:first-child {
  color:#FFFFFF;
  background-image:url("../images/Navigation_lrft.png");
  background-position:left center;
  background-color:#2E558B;
  background-repeat:no-repeat;
  margin-left:0px;
}

.region-primarynav ul.menu li:hover:last-child{
  color:#FFFFFF;
  background-image:url("../images/Navigation_right.png");
  background-position:right center;
  background-color:#2E558B;
  background-repeat:no-repeat;
  margin-left:0px;
}
.region-primarynav ul.menu li a:hover {
  color:#FFFFFF;
}
.region-primarynav ul.menu ul {
  list-style-type:none;
  padding:0px;
  margin:0px;
}
.region-primarynav ul.menu li li:first-child {
  color:#FFFFFF;
  background:none;
  background-color:red;
  background-repeat:no-repeat;
  margin-left:0px;
}
.region-primarynav ul.menu li li:last-child {
  color:#FFFFFF;
  background:none;
  background-repeat:no-repeat;
  margin-left:0px;
}

.article_outer hr {
  width:250px;
  color:#d6d6d6;
  float:left;
  margin-left:10px;
}
.comment-wrapper h2 {
  margin:10px 0px;
  padding:0px;
}
.comment-arrow {padding:20px; }             
.comment-arrow .comment ul.inline, ul.links.inline li a  {
                                                         margin-right:4px;
                                                         color:#fff;
                                                         font-size:13px; font-weight:bold;
                                                         } 
                                                         
.comment-arrow h3 a
              {
              color:#444A56;
              font-size:14px;
              text-decoration:none;
              margin-bottom:0px;
              font-weight:normal; 
              }

.submitted_date 
              {
              text-align:right; 
              }

.submitted a 
              {
              font-size:14px; 
              color:#444A56;
              font-weight:bold;
              text-decoration:none;
              text-transform:capitalize; 
              } 
              
                           
                            
.comment-form input[type=text]
                            {
                            
                            background-color:#FFFFFF;
  color:silver;
  border:1px solid silver;
  width:320px;
  height:35px;
  padding:0px 10px 0px 10px;
  margin-bottom:10px;
  font-family: Georgia, serif;
                            }
                            
.comment-form textarea {
                            
                           background-color:#FFFFFF;
  border:1px solid silver;
  padding:10px;
  color:silver;
  width:590px;
  height:100px;
  margin-bottom:10px;
                            
                            }
                            
.resizable-textarea .grippie {
                              display:none; 
                              } 
                              
#edit-author--2 a {
    color: #444A56;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
} 
.displaycomment {
  margin-top:60px;
}      
.footer_zyxware {
  font-size:8px;
  text-align:center;
  position:absolute;
  right:40px;
  bottom:1px;
  color:#bbb;
  float:right;
}
.footer_zyxware a {
  color:#ccc;
  text-decoration:none;
}
.footer_zyxware a:hover a:active {
  color:#ccc;
  text-decoration:none;
}  
.filter-wrapper {
  border:none;
}   
.footer_top a {
  color:#fff;
}
.region-copyright a:link, .region-copyright a:visited {
  color:#2a5682;
}     
.region-copyright a:hover a:active {
  color:#2a5682;
}  
.frontarticleinner{
  
  min-height:433px;
  overflow:hidden;
}                       
